<%= form_tag("/offers", method: "get", class: "container") do %>
  <%= label_tag(:q, "Search:") %>
  <%= text_field_tag(:q, (params[:q] || '')) %>
  <%= submit_tag("Search") %>
<% end %>
<div class="container">
  <%= link_to 'Remove filters', '/offers' %>
</div>
