<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><img src="<%= picture.path %>"  width="50" height="50" /></td>
        <td><%= picture.user.email %></td>
        <td><%= link_to 'Consulter', picture %></td>
        <td><%= link_to 'Reserver', controller: "pictures", action: "book", id: picture %></td>
        <!-- <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
