<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <img src="<%= @picture.path %>"  width="50" height="50" />
</p>

<p>
  <strong>user:</strong>
  <%= @picture.user %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @picture.customer %>
</p>

<p>
  <strong>Expire:</strong>
  <%= @picture.expire %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
