<h1>Offers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><img src="<%= offer.picture %>"  width="50" height="50" /></td>
        <td><%= offer.name %></td>
        <td><%= offer.user.email %></td>
        <td><%= link_to 'Consulter', offer %></td>
        <td><%= link_to 'Reserver', controller: "offers", action: "book", id: offer %></td>
        <!-- <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
