<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <img src="<%= @offer.picture %>"  width="50" height="50" />
</p>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>user:</strong>
  <%= @offer.user.email %>
</p>

<% if @offer.user == current_user %>
  <p>
    <strong>Customer:</strong>
    <%= @offer.customer %>
  </p>

  <p>
    <strong>Expire:</strong>
    <%= @offer.expire %>
  </p>
<% end %>

<% if @offer.user == current_user %>
  <%= link_to 'Edit', edit_offer_path(@offer) %> |
<% end %>
<% if !(@offer.booked?) %>
  <%= link_to 'Reserver', controller: "offers", action: "book", id: @offer %> |
<% end %>
<%= link_to 'Back', offers_path %>
