<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <img src="<%= @offer.picture %>"  width="50" height="50" />
</p>

<p>
  <strong>user:</strong>
  <%= @offer.user %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @offer.customer %>
</p>

<p>
  <strong>Expire:</strong>
  <%= @offer.expire %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
